h1{
	color:red; 
	font-family:arial; 
    font-weight:500;" 
    font-size:20px
}

p{
    color:yellow; 
	font-size:14px
}

img{

	border-style: solid;
	border-color: blue;
	
}


h2{ 
	color:black;
	font-size:16px



}

